<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.atienza_multicalc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Atienza_MultiCalc">
        <activity
            android:name=".areac"
            android:exported="false" />
        <activity
            android:name=".areat"
            android:exported="false" />
        <activity
            android:name=".arear"
            android:exported="false" />
        <activity
            android:name=".areas"
            android:exported="false" />
        <activity
            android:name=".ols"
            android:exported="false" />
        <activity
            android:name=".dens"
            android:exported="false" />
        <activity
            android:name=".nlms"
            android:exported="false" />
        <activity
            android:name=".Avess"
            android:exported="false" />
        <activity
            android:name=".Geoms"
            android:exported="false" />
        <activity
            android:name=".P6s"
            android:exported="false" />
        <activity
            android:name=".msp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>